<div class="s">
    <ng-select [(ngModel)]="selectedUserIds" placeholder="UserId" style="margin-left: 75%; " class="s-control">

        <ng-option *ngFor="let commit of commits" [value]="commit.UserId">{{commit.UserId}}</ng-option>
    </ng-select><br>
</div>
<br>
<div style="margin-left: 10%;">
    <div style="margin-left: 0%;">
        <table style="border: rgba(168, 164, 164, 0.836);border-style: solid;border-width: 1px;width: 90%;margin-left: 0%;">
            <tr style="text-align: center; border: rgba(168, 164, 164, 0.836);border-style: solid;border-width: 1px;border-top: 0;border-right: 0;border-left: 0;height: 3em;background-color: rgb(223, 219, 219);">
                <th *ngFor="let col of columnDef">{{col}}</th>
            </tr>

            <tr *ngFor="let commit of commits| filterCommits:selectedUserIds" style="text-align: center; height: 4em;border: rgba(168, 164, 164, 0.836);border-style: solid;border-width: 1px;">
                <td>{{commit.UserId}}</td>
                <td>{{commit.Name}}</td>
                <td>{{commit.RepoName}}</td>
                <td>{{commit.CommitDate}}</td>
                <td>{{commit.CommitMessage}}</td>
            </tr>
        </table>
    </div>

</div>